.logo {
    position: absolute;
    top: 3vh;  /* Distance from the top */
    left: 3vw; /* Distance from the left */
    display: block;
}

.logo img {
    width: 55px;  /* Adjust size */
    height: auto;  /* Maintain aspect ratio */
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

h1{ /*pigment library*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    position: absolute;
    top: 5vh;
    left: 10vw;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    color: white;
    opacity: 0.9;
}

h2{ /*tool*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    position: absolute;
    top: 5vh;
    left: 26vw;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    color: white;
    opacity: 0.9;
}

h3{ /*step by step*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    position: absolute;
    top: 5vh;
    left: 34vw;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    color: white;
    opacity: 0.9;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top:20vh;
    left: 6vw;
}

.rectangle1{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height:110vh;
    background-color: rgb(233, 178, 139);/*rgb(162, 210, 199);*/
    z-index: -1;
    width: 100%;
}

.pixel-white{
    position: absolute;
    left: 13vw;
    top: 35vh;
    width: 14vw;
    height: 14vw;
    background-color:antiquewhite;
}

h5{
    position:absolute;
    font-size: 1vw;
    font-weight: 500;
    left: 15.5vw;
    top: 63vh;
    color:saddlebrown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pixel-eosinred{
    position: absolute;
    left: 33vw;
    top: 35vh;
    width: 14vw;
    height: 14vw;
    background-color: rgb(172, 6, 6);
}

h6{
    position:absolute;
    font-size: 1vw;
    font-weight: 500;
    left: 36vw;
    top: 63vh;
    color:saddlebrown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pixel-scarletred{
    position: absolute;
    left: 53vw;
    top: 35vh;
    width: 14vw;
    height: 14vw;
    background-color:rgb(250, 0, 0);
}

h7{
    position:absolute;
    font-size: 1vw;
    font-weight: 500;
    left: 57vw;
    top: 63vh;
    color:saddlebrown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pixel-vermilion{
    position: absolute;
    left: 73vw;
    top: 35vh;
    width: 14vw;
    height: 14vw;
    background-color:rgb(245, 96, 3);
}

h8{
    position:absolute;
    font-size: 1vw;
    font-weight: 500;
    left: 77vw;
    top: 63vh;
    color:saddlebrown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pixel-cinnabar{
    position: absolute;
    left: 13vw;
    top: 70vh;
    width: 14vw;
    height: 14vw;
    background-color:rgb(236, 143, 107);
}

h5, h6 ,h7, h8{
    margin: 0;
    padding: 0;
}

h9{
    position:absolute;
    font-size: 1vw;
    font-weight: 500;
    left: 16vw;
    top: 100vh;
    color:saddlebrown;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
