/* Logo styling at the top*/
.logo {
    position: absolute;
    top: 2.5vh; 
    left: 3vw; 
    display: block;
}

.logo img {
    width: 4vw;  
    height: auto;  
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}


h1, h2, h3 { /* make sure the three texts in the navbar ("pigment library", "tools" and "step by step") are aligned*/
    margin: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 900;
}

.pigmentlibrary, .tools, .stepbystep {
    position: absolute;
    width: 20vw;
}

.pigmentlibrary{
    left: 1vw;
    top: 1vh;
}

.tools{
    left: 17vw;
    top: 1vh;
}

.stepbystep{
    left: 25vw;
    top: 1vh;
}

/* navigation bar */
.navbar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: conter;
    gap: 20px;
    padding: 15px;
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar a{ /* navigation bar: pigment library */
    text-decoration: none;
    color:saddlebrown; /* original color*/
    font-size: 17px;
    font-weight: bold;
    opacity: 0.9;
    position: absolute;
    top: 5vh;
    left: 10vw;
    letter-spacing: 0.1vw;
    transition: color 0.3s ease;
}

.navbar a:hover{ 
    color: sandybrown; /* Changes color on hover */
}

h4{ /* Title: Step by Step*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 350%;
    font-weight:bolder;
    width: 50vw;
    line-height: 10vh;
    text-align: center;
    position: absolute;
    top:25vh;
    left: 5vw;
    color: rgb(182, 117, 5);
}

h5{ /* Subtitle: Instruction*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 150%;
    font-weight: bold;
    width: 50vw;
    line-height: 10vh;
    text-align: center;
    position: absolute;
    top:36vh;
    left: 5vw;
    color: rgb(182, 117, 5);
}

h6{ /* all tools you need is in the*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    font-weight: lighter;
    width: 50vw;
    line-height: 10vh;
    text-align: center;
    position: absolute;
    top:42vh;
    left: 2.5vw;
    color: saddlebrown;
}

h7{ /* to the Tools page*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    font-weight: lighter;
    text-decoration: underline;
    text-align: center;
    position: absolute;
    top:49.4vh;
    left: 16vw;
    color: saddlebrown;
}

.vediobottom{  /*There is a video tutorial in the bottom!*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    font-weight:500;
    text-align: center;
    position: absolute;
    top:60vh;
    left: 21.5vw;
    color: saddlebrown;
}

.note{ /*note for the instruction before you begin*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
    font-weight:500;
    line-height: 3vh;
    text-align: center;
    position: absolute;
    width: 30vw;
    top:65vh;
    left: 15vw;
    color: grey;
}

#first-image{ /* The image beside the title, a image of me drawing */
    position:absolute;
    top: 22vh;
    right: 12vw;
    width: 35vw;
}

.rectangle1{ /* The background colour of Step 1 */
    position: absolute;
    top: 95vh;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: cornsilk;
}

#linear{ /*Step 1 image, also the linear*/
    position: absolute;
    top: 105vh;
    right: 12vw;
    width: 35vw;
    z-index: 1;
}

/* Step 1 text */
h8{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;
    font-weight: bold;
    width: 50vw;
    line-height: 10vh;
    text-align: left;
    position: absolute;
    top:105vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step1paragraphy{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top:125vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.rectangle2{ /* The background colour of Step 2*/
    position: absolute;
    top: 185vh;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: white;
}

#Step2{ /* Step 2 image*/
    position: absolute;
    top: 195vh;
    right: 12vw;
    width: 35vw;
    z-index: 1;
}

/* Step 2 text */
h9{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;
    font-weight: bold;
    width: 50vw;
    line-height: 10vh;
    text-align: left;
    position: absolute;
    top:195vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step2paragraphy1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top:215vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step2paragraphy2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top:230vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.rectangle3{ /* The background colour of Step 3 */
    position: absolute;
    top: 275vh;
    left: 0;
    width: 100%;
    height: 95vh;
    background-color: cornsilk;
}

#Step3{ /* Step 3 image */
    position: absolute;
    top: 285vh;
    right: 12vw;
    width: 35vw;
    z-index: 1;
}

/* Step 3 text */
h10{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;
    font-weight: bold;
    width: 50vw;
    line-height: 10vh;
    text-align: left;
    position: absolute;
    top:285vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step3paragraphy{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top:305vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

/* The background colour of Step 4 */
.rectangle4{
    position: absolute;
    top: 370vh;
    left: 0;
    width: 100%;
    height: 140vh;
    background-color: white;
}

/* Step 4 image */
#Step4{
    position: absolute;
    top: 380vh;
    right: 12vw;
    width: 35vw;
    z-index: 1;
}

/* Step 1 text */
h11{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;
    font-weight: bold;
    width: 50vw;
    line-height: 10vh;
    text-align: left;
    position: absolute;
    top:385vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step4paragraphy1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top:400vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step4paragraphy2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top: 415vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step4paragraphy3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 31vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top: 435vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step4paragraphy4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 31vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top: 480vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step4paragraphy5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 31vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top: 455vh;
    left: 55vw;
    color: rgb(182, 117, 5);
}

/* The background colour of step 5 */
.rectangle5{
    position: absolute;
    top: 520vh;
    left: 0;
    width: 100%;
    height: 105vh;
    background-color: cornsilk;
}

/* Step 5 image */
#Step5{
    position: absolute;
    top: 530vh;
    right: 12vw;
    width: 35vw;
    z-index: 1;
}

/* Step 5 text */
h12{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;
    font-weight: bold;
    width: 50vw;
    line-height: 10vh;
    text-align: left;
    position: absolute;
    top:530vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step5paragraphy1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top:550vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step5paragraphy2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top:590vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

/* The background colour of step 6 */
.rectangle6{
    position: absolute;
    top: 625vh;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: white;
}

/* Step 6 image */
#Step6{
    position: absolute;
    top: 635vh;
    right: 12vw;
    width: 35vw;
    z-index: 1;
}

/* Step 6 text */
h13{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;
    font-weight: bold;
    width: 50vw;
    line-height: 10vh;
    text-align: left;
    position: absolute;
    top:635vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}


.step6paragraphy{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top:655vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

/* The background colour of step 7 */
.rectangle7{
    position: absolute;
    top: 715vh;
    left: 0;
    width: 100%;
    height: 90vh;
    background-color: cornsilk;
}

/* Step 7 image */
#Step7{
    position: absolute;
    top: 725vh;
    right: 12vw;
    width: 35vw;
    z-index: 1;
}

/* Step 7 text */
h14{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;
    font-weight: bold;
    width: 50vw;
    line-height: 10vh;
    text-align: left;
    position: absolute;
    top:725vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step7paragraphy1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top:745vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

.step7paragraphy2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: lighter;
    line-height: 5px;
    width: 30vw;
    line-height: 5vh;
    text-align: justify;
    text-align: left;
    position: absolute;
    top:765vh;
    left: 10vw;
    color: rgb(182, 117, 5);
}

/* The background colour of the video tutorial */
.rectangle8{
    position: absolute;
    top: 805vh;
    left: 0;
    width: 100%;
    height: 165vh;
    background-color: black;
}

/* Video tutorial */
video {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 820vh;
    right: 15vw;
    width: 1080px;
    height: 720px;
}

/* Title of video */
h15{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 180%;
    font-weight: bold;
    width: 50vw;
    line-height: 10vh;
    text-align: left;
    position: absolute;
    top:815vh;
    left: 15vw;
    color: rgb(182, 117, 5);
}

/* Logo styling at the bottom*/
.bottomlogo {
    position: absolute;
    top: 925vh; 
    left: 45vw;
    justify-items: center;
    object-position: center; 
    display: block;
}

.bottomlogo img {
    width: 11vw;  
    height: auto;  
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

h16{ /* text below the bottom logo */
    position: absolute;
    top: 948vh;
    left: 47.8vw;
    color:rgb(167, 83, 23);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: lighter;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}